.formTitle {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
}

.select {
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  height: 40px;
  min-width: 60px;
}

.formItem {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}
