.bioContainer {
  display: flex;
  flex-direction: column;
}

.bioSection {
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  width: 70%;
  border-radius: 2px;
  margin: 15px 0;
}

.bioIntroContainer {
  height: 370px;
}

.bioIntroContainerItem {
  height: 50%;
}

.bioBannerImage {
  background-color: lightblue;
}

.bioIntroContent {
  padding: 0 24px 24px;
  background-color: #ffffff;
}

.bioButtons {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.bioContent {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  margin: 12px 0;
}

.bioText {
  font-size: 0.9rem;
  line-height: 1.5;
}

.bioIntroContentFooterText {
  color: #0073b1;
}

.bioAboutContainer {
  background-color: #ffffff;
  word-wrap: break-word;
  padding: 24px;
}

.profilePicContainer {
  position: absolute;
  top: 25%;
  left: 3%;
  background-color: rgba(243, 246, 248, 0.94);
  box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, 0.15),
    0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  height: 160px;
  width: 160px;
  z-index: 1;
}
