.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

svg.small {
  font-size: 1.3rem;
}

svg.navColor {
  fill: #c7d1d8;
}

svg.searchColor {
  fill: rgba(40, 62, 74, 0.75);
}

.iconText {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #c7d1d8;
  font-size: 0.8rem;
  padding-top: 2px;
}
