.extendedNavContainer {
  padding: 0 30px;
  background: #283e4a;
  border-top: none;
  box-shadow: none;
  height: 52px;
  user-select: none;
}

.navContainer {
  max-width: 1128px;
  margin: auto;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navSection {
  display: flex;
  flex-direction: row;
}

.navRight {
  width: 35%;
  justify-content: space-between;
}

.linkedInLogo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 33px;
  color: white;
  background: #0077b5;
  padding: 1px 4px 0px 4px;
  border-radius: 3px;
}

.searchBar {
  background: #e1e9ee;
  width: 280px;
  border-radius: 2px;
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.linkedInIpsumTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(40, 62, 74, 0.75);
  padding-left: 3px;
}

.searchIcon {
  padding-left: 10px;
}
